//colors
$white: #FFF;
$black: #000;
$light-grey: #DDD;
$dark-grey: #444;

$main-color: rgb(249, 129, 69);
$sub-color: rgb(198, 79, 24);
$error: #D04;
$warning: #ED0;
$success: #0EA;

//fonts
$main-font: Didot, serif;
$sub-font: Trebuchet MS, sans-serif;

//page
$page-padding: 60px 40px;